
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


h1 {
    text-align: center;
    font-family: 'Anton', sans-serif; 
    font-weight: bold;
    color: #D32F2F; 
    font-size: 3em; 
    letter-spacing: 1px; 
}
